DOCTYPE>

   
     style>
     body {
         background-color :blue;
    
     }        
h1{ 
color :blueviolet;
text-align:center;
}
h2 {
    color :grey;
}

p{
    font-family: verdana;
    font-style: italic;
}
    